h1.title { 
    text-align: center;
    margin-top: 10%;
    font-size: 80px;
}

h1.hostTitle { 
    text-align: center;
    font-size: 50px;
}

h1.joinTitle { 
    margin-top: 18%;
    text-align: center;
    font-size: 50px;
}

h1.lobbyText {
    text-align: center;
    margin-top: 20%;
    font-size: 60px;
}

h1.lobbyName {
    text-align: center;
}

h1.code {
    text-align: center;
    font-size: 60px;
}

p.text {
    position: absolute;
    margin-top: 30px;
    margin-left: 32%;
}

button.host {
    float: left;
    width: 300px;
    height: 200px;
    margin-left: 27%;
    font-size: 80px;
    background-color: #CC004C;
    border: none;
    cursor: pointer;
}

button.join {
    float: left;
    width: 300px;
    height: 200px;
    margin-left: 10px;
    font-size: 80px;
    background-color: #0DB14B;
    border: none;
    cursor: pointer;
}

body {
    background-color: #0089D0;
}

@font-face {
    font-family: myFirstFont;
    src: url(../src/Gidole-Regular.otf);
}

* {
    font-family: myFirstFont;
}

button.startButton {
    position: absolute;
    margin-left: 90%;
    margin-top: 10px;
    width: 80px;
    height: 40px;
    border: none;
    cursor: pointer;
    background-color: darkgray;
    font-size: 20px;
}

input.codeInput {
    width: 190px;
    height: 40px;
    border: none;
    text-align: center;
    font-size: 15px;
    border-radius: 50px;
    margin-left: 40%;
}

button.joinButton {
    width: 195px;
    height: 40px;
    border: none;
    color: white;
    font-size: 30px;
    background-color: darkgrey;
    border-radius: 50px;
    margin-top: 10px;
    margin-left: 40%;
    cursor: pointer;
}

div.playerArea {
    width: 80%;
    height: 400px;
    margin-left: 10%;
}

button.lobbyPlayer {
    width: auto;
    height: 50px;
    margin-right: 10px;
    margin-bottom: 5x;
    border: none;
    cursor: pointer;
    background-color: #FCB711;
    font-size: 30px;
    border-radius: 50px;
}

div.playerBoard {
    background-color: #6460AA;
    width: 38%;
    height: 650px;
    margin-left: 30%;
    margin-top: 2%;
}

h1.yourNameAboveBoard {
    text-align: center;
}

div.inventory {
    width: 80%; 
    height: 150px;
    margin-left: 10%;
    background-color: #6460FF;
}

canvas.hostMap {
    background-color: green;
}